DB_PASSWORD=SET_LOCAL_DB_PASSWORD
MINIO_ROOT_USER=SET_LOCAL_MINIO_USER
MINIO_ROOT_PASSWORD=SET_LOCAL_MINIO_PASSWORD
KEYCLOAK_BACKEND_LOGIN_SECRET=SET_LOCAL_KEYCLOAK_LOGIN_SECRET
KEYCLOAK_ADMIN_API_SECRET=SET_LOCAL_KEYCLOAK_ADMIN_SECRET
RAG_SERVICE_USERNAME=SET_LOCAL_RAG_USERNAME
RAG_SERVICE_PASSWORD=SET_LOCAL_RAG_PASSWORD
RAG_BASE_URL=http://llm-response:8000
RAG_EMBEDDER_URL=http://embedder:8001
